@import url('/style/reset.css');
@import url('/style/font/roboto.css');

body {
  font-family: 'Roboto Medium';
  font-size: 20px;
}

button,
input {
  font-family: 'Roboto Medium';
}

#root {
  min-height: 100vh;
  padding: 20px 0 20px;
}
